<p id="notice"><%= notice %></p>
<p><%= link_to "Advanced Search", new_search_path %></p>

<a class="btn btn-outline-dark my-2 my-sm-0  float-right  role="button"
  <%= link_to 'Add Apartment', new_apartment_path %>
</a>
<h1>Apartments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Destination</th>
      <th>Owner Name</th>
      <th>Owner phone</th>
      <th>Rooms</th>
      <th>Paths</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search.apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.destination %></td>
        <td><%= apartment.user.name %></td>
        <td><%= apartment.user.phone_number %></td>
        <td><%= apartment.rooms %></td>
        <td><%= apartment.paths %></td>
        <td>
          <a class="btn btn-info my-2 my-sm-0  float-right  role="button"
            <%= link_to 'Show', apartment %></td>
          </a>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
