<%= bootstrap_form_for(apartment, local: true) do |form| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.number_field :rooms, placeholder:  "Number of Rooms..." %>
  </div>

  <div class="field">
    <%= form.number_field :paths, placeholder:  "Number of Pathrooms..." %>
  </div>

  <div class="field">
    <%= form.text_field :destination, placeholder:  "Enter the destination..."%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
